# CDN Configuration
# Set to 'true' to use CDN for images, 'false' for local public folder
VITE_USE_CDN=false
VITE_CDN_BASE_URL=

VITE_DEFAULT_CITY=delhi-ncr
# VITE_API_URL = http://72.62.199.115:5000/api
VITE_API_URL = http://localhost:5000/api